body{
    font-family: 'Poppins', sans-serif;
    margin: 0;

}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

p{
color: gray;
text-align: justify;
}

.orange-color{
    color: orange;
}

section{
    margin-bottom: 150px;
}

.top-section{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}

.half-width{
    width: 50%;
    padding-left: 2%;
}

.half-width img{
    width: 60%;
}

.link-button{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(90deg,orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
}

.mid-section{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.bottom-box{
    display: flex;
}


#dream-big{
    padding-right: 8%;
}

.lower-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;

}

.experiece-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1% 3% ;
    border-radius: 2%;
    box-shadow: 10px 10px 40px gray;


}

#pro-dev{
    border-left: 10px solid;
    border-image: linear-gradient(to bottom,orange, tomato) 1;
}

#baby-dev{
    border-left: 10px solid;
    border-image: linear-gradient(to bottom,blue,cyan)1;
}

footer p{
    text-align: center;
    margin: 50px;
}
